.accordian {
    width: 75rem;
}

.accordian li {
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 2rem;
    cursor: pointer;
    padding: 2rem;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question span {
    font-size: 3rem;
}

.answer p {
    font-size: 2rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms ease-out;
}

.active {
    height: auto;
    opacity: 1;
    max-height: 25rem;
}

.plus {
    margin: 0 2rem;
    width: 4rem;
    height: 4rem;
    position: relative;
}

.plus::before,
.plus::after
 {
    position: absolute;
    content: "";
    width: 3rem;
    height: .2rem;
    background-color: #fff;
     transition: transform 0.3s ease-in-out;
}

.plus::before {
      width: 80%;
  height: .2rem;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.plus::after {
   width: .2rem;
  height: 80%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
    
}

/* Add a class for the expanded state */
.expanded::before {
  transform: scaleY(0); /* Scale the vertical bar to 0 for the plus to create a minus */
}

.expanded::after {
      /* top: 50%; */
  transform: rotate(-90deg); /* Rotate the horizontal bar for the plus to create a minus */
}
