.faq-page {
    width: 100%;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-hero {
  width: 100%;
  height: 28rem;
  background-image: url('../../public/imgs/dark-abstract-2.jpg');
  background-size: cover;
  background-position: 0% 50%;
  z-index: -1;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  font-size: var(--hero-font-size-h1);
  color: var(--color-primary);
}

.faq-section {
  width: 100%;
  padding: 8rem 10rem;
  min-height: 80rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-dark);
  color: #fff;
}

.accordian {
  width: 70rem;
}

.accordian li {
  width: 100%;
  padding: 2rem;
   cursor: pointer;
    border: 1px solid #fff;
    margin-bottom: 2rem;
}

.question {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question div {
  font-size: 3rem;
}

.answer {
  font-size: 2rem;
  height: 0;
  overflow:hidden;
  transition: all 500ms ease-in-out;
}

.active {
  height: 20rem;
}

.answer p {
  font-size: 2rem;
}

@media (max-width: 55em) { 
  .hero-text h1 {
  font-size: 4.5rem;
}
}

@media (max-width: 35em) {
  .faq-section {
  padding: 4rem 2rem;
}

.hero-text h1 {
  font-size: 3rem;
}

}