.faq-page {
    width: 100%;
    min-height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-hero {
  width: 100%;
  height: 35rem;
  background-image: url('../../public/imgs/dark-abstract-2.jpg');
  background-size: cover;
  background-position: 0% 50%;
  z-index: -1;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  margin-top: 10rem;
}

.hero-text h1 {
  font-family: "General-Station";
  font-weight: 200;
  font-size: 4vw;
  color: var(--color-primary);
}

.faq-section {
  width: 100%;
  padding: 8rem 2rem;
  min-height: 80rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-dark);
  color: #fff;
}

@media (max-width: 55em) { 
  .hero-text h1 {
  font-size: 4.5rem;
}
}

@media (max-width: 35em) {
  .faq-section {
  padding: 4rem 2rem;
}

.hero-text h1 {
  font-size: 3rem;
}

}