:root {
  --color-primary: #cce967;
  --color-bg-dark: #0c0c05;

  --color-gray-light: #e4e4e4;
   --color-gray-med-light: #9b9b9b;
  --color-gray-med: #6c6c6c;
  --color-gray-dark: #515151;

  --color-cream: #f3efdc;
  --color-green-overlay: #121207bb;

  --color-green-dark: #16180b;
  --color-green-darkest: #0c0c05;

  --color-bg-light: #efede7;
  --color-bg-nav: #0000003f;
  --color-bg-footer: #1b1918;

  --color-text-light: #fff;
  --color-text-gray-light: #acacac;
  --color-text-dark: #000000;

  --box-shadow: 0px 3px 13px -2px #000000ad;

  --hero-font-size-h1: 6rem;
  --hero-font-size-h2: 2.5rem;

  --border-radius: 2rem;

  --feature-bg: #0c0c05;
  --feature-bg-gradient: linear-gradient(180deg, #0c0c05 0%, #1c1f0f 89%);
  --feature-bg-gradient-radial: radial-gradient(circle, #262611 0%, #0b0d06 89%);

}

@font-face {
  font-family: "Clash-Display";
  src:url('../../public/fonts/ClashDisplay-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/fonts/ClashDisplay-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/fonts/ClashDisplay-Extralight.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Clash-Display";
  src: url("../../public/fonts/ClashDisplay-Semibold.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "General-Station";
  src:url('../../public/fonts/GeneraleStation-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General-Station";
  src: url("../../public/fonts/GeneraleStation-SemiExtended.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "General-Station";
  src: url("../../public/fonts/GeneraleStation-Extended.woff2") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "General-Station";
  src: url("../../public/fonts/GeneraleStation-UltraExtended.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: "Expose";
  src:url('../../public/fonts/Expose-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Expose";
  src: url("../../public/fonts/Expose-Medium.woff2") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Expose";
  src: url("../../public/fonts/Expose-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Expose";
  src: url("../../public/fonts/Expose-Black.woff2") format("woff");
  font-weight: 200;
  font-style: normal;
}

/*  ___ CUSTOM SCROLLBAR  _____*/
/* ::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 1rem;
  background-color: var(--color-body-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: var(--color-primary);
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  position: relative;
  font-family: "Clash-Display", sans-serif;
  background-color: var(--color-bg-dark);
}

@media (max-width: 55em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 50%;
  }
}

p, li, a, label, div, label, textarea, button {
   font-family: "Clash-Display", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms ease-in;
}

a:hover {
  color: var(--color-primary);
}

button {
   font-family: "Clash-Display", sans-serif;
  border: unset;
  cursor: pointer;
  background-color: unset;
}

.button {
  min-width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  border-radius: 20rem;
  font-size: 2rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: all 250ms ease-in;
}

.button:hover {
  color: #000;
  background-color: var(--color-primary);
}

.highlight-1 {
  color: var(--color-primary);
}

.highlight-2 {
  color: var(--color-cream);
}

.highlight-3 {
  color: var( --color-gray-med-light);
}

.accent {
  width: 12rem;
  height: .3rem;
  background-color: var(--color-primary);
}