.portfolio-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.portfolio-hero {
  width: 100%;
  height: 77rem;
  background-image: url("../../public/imgs/bg-art-tunnel.jpg");
  background-size: cover;
  background-position: 50% 100%;
  z-index: -1;
  overflow: hidden;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.502);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  margin-top: 10rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.hero-text h1 {
  font-family: "General-Station";
  font-weight: 300;
  color: #fff;
  font-size: 6vw;
}

.hero-text h2 {
  color: var(--color-primary);
  font-size: 8vw;
  font-weight: 100;
}

.bg-circle {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 95vw;
  height: 95vw;
  transform: translate(-50%, -50%);
  border-radius: 200rem;
  border: 5vw solid #cde9679c;
  z-index: 0;
}

.portfolio-section {
  width: 100%;
  min-height: 70rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-dark);
  color: #fff;
}

.aesthetic-stripes {
  width: 200rem;
  height: 7rem;
  background-color: var(--color-primary);
  margin-bottom: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.aesthetic-stripes span {
  height: 7rem;
  width: 4rem;
  background-color: #000;
  transform: skew(-15deg);
  margin: 0 2rem;
}

.projects {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw;
}

@media (max-width: 65em) {
  .projects {
    width: 98%;
  }
}

@media (max-width: 55em) {
  .portfolio-hero {
    height: 55rem;
  }

  .projects {
    gap: 0.75rem;
  }
}

@media (max-width: 40em) {
  .portfolio-hero {
    height: 45rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}
