.services-page {
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-hero {
  position: relative;
  width: 100%;
  height: 75rem;
  background-image: url("../../public/imgs/bg-dunes-1.jpg");
  background-size: cover;
  background-position: 50% 10%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-hero-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green-overlay);
  z-index: 0;
}

.world-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  border-radius: 200rem;
  overflow: hidden;
  box-shadow: 1.2rem 0.6rem 0rem 3.4rem rgba(205, 233, 103, 0.486);
  -webkit-box-shadow: 1.2rem 0.6rem 0rem 3.4rem rgba(205, 233, 103, 0.486);
  -moz-box-shadow: 1.2rem 0.6rem 0rem 3.4rem rgba(205, 233, 103, 0.486);
}

.world-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-green-overlay);
}

.world-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.hero-text h1 {
  font-family: "General-Station";
  font-weight: 200;
  font-size: 6vw;
  color: #fff;
}

.hero-text h2 {
  font-size: var(--hero-font-size-h2);
  color: var(--color-primary);
  font-size: 4vw;
  font-weight: 200;
}

.bg-circle {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90vw;
  height: 90vw;
  transform: translate(-50%, -50%);
  border-radius: 200rem;
  border: 5vw solid #cde96733;
}

.services-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-dark);
}

.services-blurb {
  padding: 4rem 10rem 10rem 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-blurb h1 {
  font-size: 6rem;
  padding-bottom: 1rem;
  color: #fff;
}

.accent {
  width: 20rem;
  height: 0.2rem;
  background-color: var(--color-primary);
  margin-bottom: 3rem;
}

.services-blurb p {
  font-size: 2rem;
  padding: 1rem;
  color: #fff;

  box-shadow: 1rem 1.3rem 0rem -0.2rem var(--color-primary);
  -webkit-box-shadow: 1rem 1.3rem 0rem -0.2rem var(--color-primary);
  -moz-box-shadow: 1rem 1.3rem 0rem -0.2rem var(--color-primary);
}

.service {
  width: 100%;
  min-height: 40rem;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-dark);
}

.service__img-container {
  margin-left: 4rem;
  width: 30rem;
  height: 30rem;
  border-radius: 200rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  box-shadow: 4px 4px 0px 13px #cce967;
  -webkit-box-shadow: 4px 4px 0px 13px #cce967;
  -moz-box-shadow: 4px 4px 0px 13px #cce967;
}

.service__img-container img {
  object-fit: cover;
}

.branding-img {
  height: 100%;
  width: auto;
}

.design-img {
  height: 120%;
  width: auto;
}

.service__text-container {
  width: 60%;
  padding: 2rem 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.service__text-container h1 {
  font-size: 6rem;
  padding-bottom: 1rem;
  color: #fff;
}

.service__text-container p {
  padding: 1rem;
  font-size: 2rem;
  margin: 0rem 0rem 2rem 0rem;
  color: #fff;
  box-shadow: 1rem 1.3rem 0rem -0.2rem var(--color-primary);
  -webkit-box-shadow: 1rem 1.3rem 0rem -0.2rem var(--color-primary);
  -moz-box-shadow: 1rem 1.3rem 0rem -0.2rem var(--color-primary);
}

@media (max-width: 70em) {
  .services-blurb h1 {
    font-size: 5vw;
  }
}

@media (max-width: 35em) {
  .services-hero {
    height: 50rem;
  }

  .hero-text {
    margin-top: 6rem;
  }

  .hero-text h1 {
    font-size: 8vw;
  }

  .world-container {
    width: 55vw;
    height: 55vw;
    box-shadow: 0.6rem 0.3rem 0rem 1.7rem rgba(205, 233, 103, 0.486);
    -webkit-box-shadow: 0.6rem 0.3rem 0rem 1.7rem rgba(205, 233, 103, 0.486);
    -moz-box-shadow: 0.6rem 0.3rem 0rem 1.7rem rgba(205, 233, 103, 0.486);
  }

  .bg-circle {
    width: 97vw;
    height: 97vw;
  }

  .services-blurb {
    padding: 4rem 2rem 10rem 2rem;
  }

  .services-blurb h1 {
    font-size: 8vw;
    text-align: center;
  }

  .service {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .service__img-container {
    margin: 0 0 2rem 0;
    width: 60vw;
    height: 60vw;
  }

  .service__text-container {
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;
    flex-direction: column;
    align-items: center;
  }

  .service__text-container h1 {
    font-size: 8vw;
  }
}
