.services-page {
  width: 100%;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-hero {
  width: 100%;
  height: 65rem;
  background-image: url('../../public/imgs/construction.jpg');
  background-size: cover;
  z-index: -1;
}

.services-hero-overlay {
  width: 100%;
  height: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.521);
}

.hero-text {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
  font-size: var(--hero-font-size-h1);
  color: #fff;
}

.hero-text h2 {
  font-size: var(--hero-font-size-h2);
  color: var(--color-primary);
}

.services-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.services-blurb {
  padding: 4rem 10rem 10rem 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-blurb h1 {
   font-size: 4rem;
  margin-bottom: 3rem;
}

.services-blurb p {
  font-size: 2rem;
}

.service {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-light);
}

.service-alt {
  background-color: #fff;
}

.service__img-container {
  margin-left: 4rem;
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__text-container {
  width: 60%;
  padding: 2rem 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.service__text-container p {
  margin: 1rem 0rem 2rem 0rem;
}

.service__text-container a {
  color: #000;
}
