.section {
  position: relative;
  width: 100%;
  height: 55rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.text h1 {
  font-size: 5vw;
}

.text h1 span {
  border-bottom: 0.5rem solid var(--color-primary);
}

.text h2 {
  margin-top: 2rem;
  font-size: 2vw;
  color: var(--color-primary);
}

.section img {
  position: absolute;
  top: -60rem;
  left: -25rem;
  width: 140%;
  height: auto;
  z-index: 0;
}

.section-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-green-overlay-light);
  z-index: 1;
}

@media (max-width: 65em) {
  .section {
    height: 45rem;
  }

  .section img {
  top: -67rem;
  width: 160%;
 
}
}

@media (max-width: 45em) {
  .section {
    height: 30rem;
  }

}

@media (max-width: 35em) {
  .section {
    height: 20rem;
  }

  .text h2 {
  font-size: 2.3vw;
}


  .section img {
  top: -63rem;
    left: -22rem;
  width: 190%;
 
}
}