.hero {
    width: 100%;
    height: 70rem;
    background-image: url('../../../public/imgs/dark-abstract-1.jpg');
    background-size: cover;
    z-index: -1;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.406);
}

.hero-text {
    margin-top: 9rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

.hero-text h1 {
    font-family: "General-Station";
    font-weight: 200;
    margin: 0 2rem;
    font-size: 7vw;
}

.hero-text h2 {
    font-size: var(--hero-font-size-h2);
    color: var(--color-primary);
}


.circle {
    position: absolute;
    width: 65rem;
    height: 65rem;
    border-radius: 500rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
     box-shadow: 5px 6px 0px 10px rgba(205, 233, 103, 0.486);
  -webkit-box-shadow: 5px 6px 0px 10px rgba(205, 233, 103, 0.308);
  -moz-box-shadow: 5px 6px 0px 10px rgba(205, 233, 103, 0.342);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 500rem;
    background-color: rgba(0, 0, 0, 0.283);
background: rgb(90,90,43);
background: radial-gradient(circle, rgba(90,90,43,0.2525603991596639) 2%, rgba(72,72,33,0.5438769257703081) 16%, rgba(38,38,17,0.6979385504201681) 30%, rgba(11,13,6,0.9252888655462185) 61%);
}


.bg-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90vw;
    transform: translate(-50%, -50%);
    border-radius: 200rem;
    border: 5vw solid #cde96733;
}


@media (max-width: 35em) {
    .hero {
    height: 50rem;
}

}