.section {
    width: 100%;
    background-color: var(--color-bg-dark);
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.feature {
    width: 45%;
    min-height: 45rem;
    padding: 3rem;
      color: var(--color-gray-light);
  border: 1px solid var(--color-gray-dark);
border-radius: var(--border-radius);
background: var(--feature-bg);
background: var(--feaature-bg-gradient-radial);
}

.feature h2 {
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.feature p {
    color: var(--color-gray-light);
    font-size: 2rem;
}

@media (max-width: 35em) {
    .section {
        flex-direction: column;
    }

    .feature {
        width: 98%;
    }
}