.feature-overlay {
    position: relative;
    width: 100%;
    min-height: 70rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    align-items: center;
}

.feature-overlay__text-container {
    margin-left: 5rem;
position: relative;
  width: 55rem;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.feature-overlay__text-container h1 {
  font-size: 5vw;
  line-height: 4.5vw;
  font-weight: bold;
  color: #FFF;
}

.accent {
  margin: 1rem 0;
  width: 9rem;
  height: .2rem;
  background-color: var(--color-primary);
}

.feature-overlay__text-container p {
  margin: 3rem 0rem 3rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF;
}

.feature-overlay__text-container a {
  color: #FFF;
}

.feature-overlay img {
    width: 100%;
    height:70rem;
    position: absolute;
    top: 0;
    z-index: -1;
}

@media (max-width: 35em) {

.feature-overlay__text-container {
    margin-left: 0rem;
}
}