.feature-box-section {
  margin-bottom: 10rem;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 800ms ease-in;
}

.feature-box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--color-gray-light);
  border: .1rem solid var(--color-gray-dark);
  border-radius: var(--border-radius);
  background-image: url("../../../public/imgs/roots.jpg");
  background-size: cover;
}

.feature-box__overlay {
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(90, 90, 43);
  background: radial-gradient(
    circle,
    rgba(90, 90, 43, 0.776829481792717) 2%,
    rgba(72, 72, 33, 0.8720675770308124) 18%,
    rgba(38, 38, 17, 0.8804709383753502) 40%,
    rgba(11, 13, 6, 0.9252888655462185) 67%
  );
}

/*_____IMAGE CONTAINER_____*/
.feature-box__img-container {
  width: 50rem;
  height: 50rem;
  border-radius: 200rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: .5rem .6rem 0rem 1rem rgba(204, 233, 103, 0.75);
  -webkit-box-shadow: .5rem .6rem 0rem 1rem rgba(204, 233, 103, 0.75);
  -moz-box-shadow: .5rem .6rem 0rem 1rem rgba(204, 233, 103, 0.75);
}

.feature-box__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*_____TEXT CONTAINER_____*/
.feature-box__text-container {
  width: 40%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-box__text-container h1 {
  margin-top: 2rem;
  font-size: 5vw;
  line-height: 4.5vw;
  font-weight: bold;
}

.feature-box__text-container span {
  color: var(--color-primary);
}

.accent {
  margin: 1rem 0;
  width: 9rem;
  height: 0.2rem;
  background-color: var(--color-primary);
}

.feature-box__text-container p {
  margin: 1rem 0rem 3rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.feature--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

@media (max-width: 60em) {
  .feature-box {
    width: 95%;
  }

  .feature-box__text-container {
    width: 40%;
    padding: 0 2rem;
  }
}

@media (max-width: 55em) {
  .feature-box__img-container {
    width: 40vw;
    height: 40vw;
    margin-bottom: 3rem;
  }
}

@media (max-width: 35em) {
  .feature-box-section {
    padding: 0 0 2rem 0;
  }

  .feature-box {
    width: 98%;
  }

  .feature-box__overlay {
    flex-direction: column;
  }

  .feature-box__img-container {
    width: 80vw;
    height: 80vw;
    margin-bottom: 3rem;
  }

  .feature-box__text-container {
    width: 100%;
  }

  .feature-box__text-container h1 {
    font-size: 3.4rem;
  }

  .accent {
    margin: 2rem 0;
  }

  .feature-box__text-container p {
    margin: 0rem 0 1.5rem 0;
  }
}
