.feature-box-section {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-light);
  transition: all 300ms ease-in;
}

.feature-box {
  width: 90%;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-box__img-container {
  width: 60%;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.feature-box__img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.feature-box__text-container {
  width: 40%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-box__text-container h1 {
  font-size: 5vw;
  line-height: 4.5vw;
  font-weight: bold;
}

.accent {
  margin: 1rem 0;
  width: 9rem;
  height: .2rem;
  background-color: var(--color-primary);
}

.feature-box__text-container p {
  margin: 3rem 0rem 3rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.feature-box__text-container a {
  color: #000;
}

.feature--hidden {
   opacity: 0;
   transform: translateY(8rem);
 }

@media (max-width: 60em) {
  .feature-box {
    width: 95%;
  }

  .feature-box__text-container {
  width: 40%;
  padding: 0 2rem;
}
}

@media (max-width: 35em) {
      .feature-box-section {
         padding: 0 0 2rem 0;
    }
  .feature-box {
    flex-direction: column;
  }

  .feature-box__img-container {
    width: 100%;
    height: 100%;
  }

  .feature-box__text-container {
    width: 100%;
    padding: 0rem;
  }

  .feature-box__text-container h1 {
    font-size: 3rem;
  }

  .feature-box__text-container p {
    margin: 1.5rem 0;
  }
}
