.hero {
  position: relative;
  width: 100%;
  min-height: 80rem;
  background-color: #1d1d1d;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgb(94, 107, 47);
  background: radial-gradient(
    circle,
    rgba(94, 107, 47, 1) 0%,
    rgba(53, 60, 26, 1) 33%,
    rgba(38, 43, 19, 1) 41%,
    rgba(22, 24, 11, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );

  animation: fadeIn var(--hero-timer) ease-in-out;
}


@keyframes fadeIn {
  0% {
    opacity: 0;

  }
  100% {
   opacity: 1;
  }
}


.sphere {
  position: absolute;
  width: 55rem;
  height: 55rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
  overflow: hidden;
background: rgb(94,107,47);
background: linear-gradient(180deg, rgba(94,107,47,1) 0%, rgba(53,60,26,1) 45%, rgba(38,43,19,1) 66%, rgba(22,24,11,1) 82%, rgba(0,0,0,1) 100%);
}

.sphere-overlay {
  height: 100%;
  width: 100%;
  border-radius: 300rem;
backdrop-filter: blur(10px);
}

.shard {
  position: absolute;
  height: 180rem;
  width: auto;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text {
  margin: 0 2rem;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-text h1 {
  font-family: "General-Station", sans-serif;
  font-weight: 300;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.925);
}

.hero-text .highlight-1 {
  color: var(--color-gray-light);
}

.hero-text .highlight-2 {
  color: var(--color-primary);
}

@media (max-width: 35em) {
  .hero {
  min-height: 70rem;
}
  .sphere {
    width: 80vw;
    height: 80vw;
  }

  .hero-text h1 {
  font-size: 7vw;

}
}