.feature-overlay {
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  height: 70rem;
  overflow: hidden;
   background-color: #121207bb;
  display: flex;
  align-items: center;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
      background-color: var(--color-green-overlay);
      z-index: 2;
}

/*_____TEXT CONTAINER_____*/
.feature-box__text-container {
  margin-left: 10rem;
  width: 55rem;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 500ms ease-in;
  z-index: 3;
}

.feature-box__text-container h1 {
  margin-top: 2rem;
  font-size: 6rem;
 line-height: 5rem;
  font-weight: bold;
  color: #fff;
}

.feature-box__text-container span {
  color: var(--color-primary);
}

.accent {
  margin: 1rem 0;
  width: 9rem;
  height: 0.2rem;
  background-color: var(--color-primary);
}

.feature-box__text-container p {
  margin: 1rem 0rem 3rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
}


/*_____IMAGE_____*/
.bg-img {
  width: 110%;
  height: auto;
  position: absolute;
  top: 10rem;
  z-index: 1;
}

.feature--hidden {
  opacity: 0;
  transform: translateY(6rem);
}

@media (max-width: 70em) {
  .bg-img {
    height: 90rem;
    width: auto;
    top: 13rem;
  }
}

@media (max-width: 35em) {
  .bg-img {
    top: 18rem;
  }

  .feature-box__text-container {
    width: 100%;
    margin: 0;
  }

  .feature-box__text-container h1 {
  font-size: 5rem;
 line-height: 4rem;
}

  .accent {
    margin: 2rem 0;
  }

  .feature-box__text-container p {
    margin: 0rem 4rem 2rem 0;
  }
}
