.split-feature-box {
  width: 100%;
  height: 70rem;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-dark);
  transition: all 800ms ease-in;
}

.split-feature-box__text-container {
  width: 50%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.split-feature-box__text-container h1 {
  font-size: 5vw;
  line-height: 4.5vw;
  font-weight: bold;
  color: #fff;
}

.accent {
  margin: 1rem 0;
  width: 9rem;
  height: .2rem;
  background-color: var(--color-primary);
}

.split-feature-box__text-container p {
  margin: 3rem 0rem 3rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
}

.split-feature-box__img-container {
  width: 50%;
  height: 70rem;
  overflow: hidden;
}

.split-feature-box__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature--hidden {
   opacity: 0;
   transform: translateY(8rem);
 }

@media (max-width: 35em) {
  .split-feature-box {
    padding-bottom: 2rem;
    flex-direction: column-reverse;
  }

  .split-feature-box__text-container {
    width: 100%;
     padding: 2rem 4rem;
  }

  .split-feature-box__img-container {
    width: 100%;
    height: 40rem;
  }
}
