.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  animation: fadein 300ms ease-in;
}

/* .slider {
  position: fixed;
  top: 10%;
  left: 50%;
  min-height: 65rem;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;

  display: flex;
  align-items: center;
  justify-content: center;
} */

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  animation: fadein 300ms ease-in;
}

.slider-display {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 36;
}

.slider-display p {
  color: #fff;
}

.slider-display div {
  color: #fff;
}

.slider-display button {
    margin-right: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 50rem;
   background-color: rgba(0, 0, 0, 0.479);
}

.slider-display button:hover {
  color: var(--color-primary);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 100%;
  width: auto;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 34;
}

.slider-controls button {
  z-index: 35;
  margin: 5rem;
}

.slider-controls button img {
  height: 5rem;
  width: auto;
  padding: 1rem;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.479);
}

@media (min-width: 768px) {
  .slider {
    width: 150rem;
    left: calc(50% - 75rem);
  }
}

/* @media (max-width: 48em) {
  .slider {
    width: 60%;
    left: 11%;
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
