.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  animation: fadein 300ms ease-in;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  animation: fadein 300ms ease-in;
}

.slider-display {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 36;
}

.slider-display p {
  color: var(--color-primary);
}

.slider-display div {
  color: #fff;
}

.slider-display button {
  margin-right: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.479);
}

.slider-display button:hover {
  color: var(--color-primary);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 100%;
  width: auto;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 34;
}

.slider-controls button {
  z-index: 35;
  margin: 5rem;
}

.slider-controls button img {
  height: 5rem;
  width: auto;
  padding: 1rem;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.479);
}

@media (max-width: 60em) {
  .slide {
    width: 85%;
    height: auto;
  }

  .slide img {
    height: auto;
    width: 100%;
  }

  .slider-controls button {
    margin: 1rem;
  }
}

@media (max-width: 35em) {
  .slide {
    width: 98%;
  }

  .slider-display {
    top: 15%;
  }

  .slider-controls {
    top: 80%;
    left: 50%;
  }

  .slider-controls button img {
    height: 4rem;
  }
}
